<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="main-header">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Nambi" />
    <title>Test Test</title>

<!--    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/" />-->

    <!-- Bootstrap core CSS -->
    <link data-th-href="@{/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet">
<!--    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css"-->
<!--          rel="stylesheet"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--          crossorigin="anonymous" />-->


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

        <!-- Custom styles for this template -->
    <th:block th:if="${@UserLoggedin.hasLoggedInBefore( #request ) == true}">
        <link href="/css/common.css" rel="stylesheet" />
    </th:block>
    <th:block th:if="${@UserLoggedin.hasLoggedInBefore( #request ) == false}">
        <link href="/css/home-landing.css" rel="stylesheet" />
    </th:block>

</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


    <header class="masthead mb-auto" th:fragment="top-navigation">
        <div class="inner">
            <h3 class="masthead-brand">
                <a class="" href="/">TEST</a>
            </h3>
            <nav class="nav nav-masthead justify-content-center align-middle">
                <a class="nav-link " href="/">Home</a>
                <a class="nav-link" href="/mydata">My Data</a>

                <span class="nav-link" th:if="${@UserLoggedin.isLoggedin( #request ) == false}">
                    <form class="j" th:formmethod="get" th:action="@{/login}">

                        <button class="btn btn-primary btn-sm" type="submit">Login</button>
                    </form>
                </span>

                <span class="nav-link" th:if="${@UserLoggedin.isLoggedin( #request ) == true}">
                     <form class="j" th:formmethod="get" th:action="@{/logout}">
                        <button class="btn btn-success btn-sm" type="submit">Logout</button>
                    </form>
                </span>
            </nav>

        </div>
    </header>



    <footer class="mastfoot mt-auto" th:fragment="footer">
        <div class="inner">
            <p>TEST provided by <a href="https://twitter.com/nams">@nams</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>
