<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: main-header">
</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto" th:replace="fragments/common :: top-navigation">
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">This is my data</h1>
        <p class="lead">
            blah blah blah blah blah <br/>
            blah blah blah blah blah<br/>
            Pblah blah blah blah blah
        </p>

    </main>

    <footer class="mastfoot mt-auto" th:replace="fragments/common :: footer">
    </footer>
</div>
</body>
</html>
